body {font-family: Arial, Helvetica, sans-serif;
}

* {box-sizing: border-box;
}


/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #3F6083;
  color: white;
  padding: 10px ;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: absolute;
  top: 59px;
  right: 90px;
  font-size:18px;
}

/* The popup form - hidden by default */

.form-popup {
  display: none;
  position:absolute;
  bottom: 0;
  right: 35px;
}
 

.form-popuplogin {
  display: none; 
  align-items: center;
  justify-content: center;
  /* border: 3px solid #f1f1f1; */
  z-index: 9;
}

#login_form{
  width:450px;
  border: 3px solid #f1f1f1;
}

.pop-img{
  margin-bottom: 20px;
}

.form-popuplogin h1{
  font-size: 30px;
}

/* Pop up Comment View*/
.form-popupComment {
  display: none;
  position: fixed;
  bottom: 0; 
  margin-bottom: 20px;
  width:400px;
  background-color: white;
  margin-right:40%;
  margin-left: 35%;
  border: 3px solid #f1f1f1;
  z-index: 9;
  
}
/*Post Comment box*/
.ShowMsg{
  width:300px;
  height:90px;
  padding:30px;
  margin-bottom:20px;
  /* background-color: lightgrey; */
  border-radius:10px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ShowMsg > input {
  height:14px;
}

/*Comment Popup ends */

.Loginbtn{
    background-color: rgb(8, 172, 148); 
    border: none;
    color: white;
    width:100%;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 10px;
  }

  .button1 {
    background-color: white; 
    color: black; 
    border-color: rgb(7, 169, 158);
    border-width: 2px;
    width:80%;
    height: 50px;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size:20px;
    
  }

  .button1:hover {
    background-color: rgb(8, 172, 148); 
    color: white;
  }

  textarea{
    width:100%;
    height:100px;
    margin:30px;
    padding:0;
  }



/* Add styles to the form container */


.form-container {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
  max-width: 100%;
  padding: 20px 20px 10px 20px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 20px;
  margin: 15px 0 22px 0;
  border: none;
  background: lightgrey;
  font-size:18px;
  letter-spacing:1px;
  font-weight: 500;
  border-radius:10px;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;

}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: rgb(0, 59, 81);
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 80%;
  font-size: 20px;
  margin-bottom:10px;
  opacity: 0.8;
  border-radius: 10px;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: rgb(164, 1, 1);
  font-size:20px;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}



#output{
    widows: 400px;
    height: 200px;
    margin: 10px; 
    margin-left: auto;
    margin-right:auto;
}

/* .modal {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  background-color: #red;
  padding: 0;
  max-height: 70%;
  width: 55%;
  margin: auto;
  overflow-y: auto;
  border-radius: 2px;
  will-change: top, opacity;
} */

/* .modal:focus {
  outline: none;
}



.modal h1, .modal h2, .modal h3, .modal h4 {
  margin-top: 0;
}

.modal .modal-content {
  padding: 24px;
}

.modal .modal-close {
  cursor: pointer;
}

.modal .modal-footer {
  border-radius: 0 0 2px 2px;
  background-color: #fafafa;
  padding: 4px 6px;
  height: 56px;
  width: 100%;
  text-align: right;
}

.modal .modal-footer .btn, .modal .modal-footer .btn-large, .modal .modal-footer .btn-small, .modal .modal-footer .btn-flat {
  margin: 6px 0;
}

.modal-overlay {
  position: fixed;
  z-index: 999;
  top: -25%;
  left: 0;
  bottom: 0;
  right: 0;
  height: 125%;
  width: 100%;
  background: #000;
  display: none;
  will-change: opacity;
}

.modal.modal-fixed-footer {
  padding: 0;
  height: 70%;
}

.modal.modal-fixed-footer .modal-content {
  position: absolute;
  height: calc(100% - 56px);
  max-height: 100%;
  width: 100%;
  overflow-y: auto;
}

.modal.modal-fixed-footer .modal-footer {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  bottom: 0;
}

.modal.bottom-sheet {
  top: auto;
  bottom: -100%;
  margin: 0;
  width: 100%;
  max-height: 45%;
  border-radius: 0;
  will-change: bottom, opacity;
} */
