/* Import Google Fonts 
------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

/* Global
------------------------------*/


html {
	font-size: 62.5%; 
}

body {
	color: #212121;
	font-family: 'Roboto', sans-serif;
	font-size: 1.6rem; /* 16px */
	font-weight: 400;
	line-height: 1.6;
}

/* Headings - Level 1 */
h1 {
	font-size: 2.2rem;
	font-weight: 700;
	letter-spacing: 4px;
    text-transform: uppercase;
    text-align: center;
}

/* Headings - Level 2 */
h2 {
	font-size: 2.6rem;
	font-weight: 500;
	margin-bottom: 0.25em;
}

/* Paragraphs */
p {
	margin-bottom: 1.5em;
}

/* Target the last paragraph element of a child */
p:last-child {
	margin-bottom: 0;
}

/* Links */
a {
	color: #3F6083;
	font-weight: 500;
}

/* Link hover state */
a:hover {
	text-decoration: none;
}

/* Images */
img {
	max-width: 100%;
	border-radius: 4px; /* Rounded corners */
}

/* Header
------------------------------*/
/* Targets all header element */
header {
    
    flex-direction:column;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
	padding: 1.25em;
	margin-bottom: 2em;
	justify-content: space-between;
	border-bottom: 1px solid #dadada;
}


/* Content
------------------------------*/
/* Container */
.content {
	padding: 3em 1.5em;
}

/* Post
------------------------------*/
/* Post entry */
#post1 , .post {
	margin-top: 2em;
	text-align: center;
}

/* Targets first article element */
article:first-of-type {
	margin-top: 0;
}

/* Post details - category, author, date */
.post-details {
	color: #888;
/*display: flex;
	align-items: center;
	justify-content: center;*/
	padding: 0;
	margin-bottom: 3em;
	list-style-type: none;
}

/* Post details - lists items */
.post-details li {
	font-size: 14px;
	display: inline-block;
	padding: 0 10px;
}

/* Targets last list item of post details */
.post-details li:first-child {
	padding-left: 0;
}

/* Post image */
.post-image {
	margin-bottom: 2em;
}

/* Post content */
.post-content {
	width: 70%;
	margin: 0 auto; /* Centers element */
	text-align: left;
}





/* Footer
------------------------------*/
footer {
	color: #888;
	font-size: 1.4rem;
	background: #f1f1f1;
	padding: 3em 1em;
	text-align: center;
}

/* Buttons
------------------------------*/

.button {
	background: #3F6083;
	color: #fff;
	border-radius: 4px;
	display: inline-block;
	margin: 2em 0;
	padding: 0.85em 1.25em;
	text-transform: uppercase;
	text-decoration: none;
}

/* Button - hover state */
.button:hover {
	background: #1B263B;
}